/*
 * .class1 .class2 --> Applies to class2 element that is inside class1
 * .class2.class2  --> Element has both classes; class="class2 class2"
 * .class2, class2 --> Apply css rules to multiple classes
 */

.App {
  text-align: center;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spin-effect infinite 20s linear;
  }
}
@keyframes spin-effect {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.app-label {
    color: #00e6e6;
}

.login-label {
    color: #fff
}
